.popUp {
    -fx-border-color: #765234;
}

.popUp-button {
    -fx-border-style: None;
    -fx-background-color: #765234;
    -fx-text-fill: white;
    -fx-background-radius: 0;
}

.popUp-button:hover {
    -fx-background-color: #703f21;
}

.label {
    -fx-background-color: #765234;
    -fx-text-fill: white;
    -fx-background-radius: 0;
}

.menu-bar {
    -fx-background-color:  #765234;
    -fx-border-color: black;
}

#container{
    -fx-background-image: url(../images/woodBackGround.jpg);
    -fx-background-size: cover ;
}